<html>
<head>
    <title>Image Processing API</title>
</head>
<body>
    <h2>Image Processing API</h2>
    <div>
        <image src="../public/images/<%= data.filename %>"></image>
    </div>
</body>
</html>