<html>
<head>
    <title>Image Processing API</title>
</head>
<body>
    <h2>Image Processing API</h2>
    <div>
        <% if (!data.hasError) {%>
            <image src="../public/<%= data.filename %>"></image>
        <% } else { %>
            <h3><%= data.errorMessage %> Please try again.</h3>
        <%} %>
    </div>
</body>
</html>